* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 10% 1fr 1fr 10%;
  border: solid 3px black;
}
.outerFormContainer {
  display: grid;
  grid-column: 2/4;
  grid-row: 2/4;
  grid-gap: 200px;
  background-color: #c3dce8;
  border: solid 3px black;
}
.innerFormContainer {
  grid-column: 2/2;
  grid-row-start: 1;
  padding-top: 20px;
  position: relative;
  float: right;
  margin-left: auto;
  margin-right: 0;
}

.textField {
  display: block;
  background-color: blue;
}
#emailIcon {
  width: 100%;
  padding: 100px 50px 75px 100px;
}
ul{
  text-decoration: none !important;
  color: red;
}
